API_TOKEN=REPLACE_WITH_YOUR_API_KEY
API_BASE_URL=https://prod-api.zelenka.guru
API_REQUEST_TIMEOUT_SECONDS=30

SECRET_ANSWER=REPLACE_WITH_YOUR_SECRET_ANSWER

THREAD_TO_BUMP_IDS=REPLACE_WITH_THREAD_TO_BUMP_IDS
THREAD_BUMP_DELAY_SECONDS=3
THREAD_BUMP_CRON_HOUR=8,20
THREAD_BUMP_CRON_MINUTE=0

CONTESTS_CONFIG_PATH=contests.json
CONTEST_CREATION_CRON_DAY=*/2
CONTEST_CREATION_CRON_HOUR=17
CONTEST_CREATION_CRON_MINUTE=0

RETRY_MAX_ATTEMPTS=3
RETRY_WAIT_MIN_SECONDS=4
RETRY_WAIT_MAX_SECONDS=10
RETRY_WAIT_MULTIPLIER=1

SCHEDULER_TIMEZONE=Europe/Moscow

LOG_LEVEL=INFO